<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8fdd99">  <td>20/08/31 12:36:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestFalabella.Publish(java.lang.String)[pri:0, instance:test.TestFalabella@78047b92]">Publish</td> 
  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="91f577">  <td>20/08/31 12:37:01</td>   <td>32453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterClass()[pri:0, instance:test.TestFalabella@78047b92]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
<tr bgcolor="91f577">  <td>20/08/31 12:36:19</td>   <td>-9900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeClass()[pri:0, instance:test.TestFalabella@78047b92]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td>  <td>main@2024453272</td>   <td></td> </tr>
</table>
